*{
    margin:0;
    padding:0;
    outline: 0;
    box-sizing: border-box;

}

.parents1{
    height:50px;
    display: flex;
    border: 1px solid black;
    background-color: red;
    justify-content:space-around;
    align-items: center; 
    font-family: sans-serif;
}
.number{
   display:flex;
   color:white;
   font-size:15px;
   
 
}
.email{
    display:flex;
    color:white;
    font-size: 15px;
}
.btn0{
    display:flex;
    background-color: antiquewhite;
    color: brown;
    border-radius:5px;
}
.parents2{
    height:120px;
    display:flex;
    justify-content:space-between;
    align-items: center; 
    font-family: sans-serif;
    padding: 10px;
}
li{
    font-size: 25px;
    display: inline-block;
} 
a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
    padding: 20px;
    color:black;
    transition: .5s;
}
a:hover{
    text-decoration: underline;
}
.parents3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}
h5{
    font-size: 20px;
}
h1{
    font-size: 40px;
  
}
strong{
    color: red;
}
p{
    font-size: 20px;
}
.parents4{

    position: relative;
}
.start{
    font-size: 40px;
    background-color:rgb(255, 0, 21);
    border-radius: 5px;
    top:50%;
    right:50%;
    position: absolute;
    color: aliceblue;

}

.parents5{

   height: 260px;
   width: 1500px;
   display: flex;
   justify-content: space-around;
   padding: 10px;
   font-size: large;

 
}

.frame1{
    width: 150px;
    height: 150px;
    border-radius:10px;
    border: 2px solid black;
    background-color:whitesmoke;


}


.frame2{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid black;
    background-color:whitesmoke;
 
}


.frame3{
    width: 150px;
    height: 150px;
    border-radius:  10px;
    border: 2px solid black;
    background-color: whitesmoke;
  
}


.frame4{
    width: 150px;
    height: 150px;
    border-radius:  10px;
    border: 2px solid black;
    background-color: whitesmoke;
  
}


.frame5{
    width: 150px;
    height: 150px;
    border-radius:10px;
    border: 2px solid black;
    background-color: whitesmoke;
   
}


.frame6{
    width: 150px;
    height: 150px;
    border-radius:  10px;
    border: 2px solid black;   
    background-color: whitesmoke;
  
}
